.article {
	display: block;
	margin: 0 0 30px 0;
	padding: 2px;
	background: #f0f0f0;
	border-radius: 3px;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	transition: all 220ms;
}


/*.article:hover {
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
	transform: translateY(-5px);
	transition: all 220ms;
}
*/

.article>img {
	display: block;
	width: 100%;
	margin: 0 0 24px 0;
}

.article h2 {
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	margin: 0 0 12px 0;
	color: #FF8400;
}

.wall {
	display: block;
	position: relative;
	margin-top: 30px;
}

.wall-column {
	display: block;
	position: relative;
	/*width: 33.333333%;*/
	width: 25%;
	float: left;
	padding: 0 5px;
	box-sizing: border-box;
}

@media (max-width: 640px) {
	.wall-column {
		width: 50%;
	}
}

@media (max-width: 480px) {
	.wall-column {
		width: auto;
		float: none;
	}
}

.page {
	text-align: center;
	margin-top: 45px;
}

.pagination>li {
	display: inline-block;
	margin: 0 10px;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	background: #FF9A47;
	color: #fff;
	border-color: #FF9A47;
}

.pagination>li>a,
.pagination>li>span {
	font-size: 16px;
	color: #949BA9;
	text-decoration: none;
	background: #FFFFFF;
	border: 1px solid #BFC5D2;
	border-radius: 2px;
	margin-left: 0;
}